@import url(https://fonts.googleapis.com/css2?family=league+Spartan:wght@400;500;600;700;800;900&display=swap);

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
    min-height: 100vh;
}

body{
    display: grid;
    place-items: center;
    font-family: "League Spartan", system-ui,sans-serif;
    font-size: 1.1rem;
    line-height: 1.2;
    background-color: #100034;
    color: #ddd;
}
ul{
    list-style: none;
}

.main {
    max-width: 75rem;
    padding: 3em 1.5em;
}

.main_heading{
    font-weight: 600;
    font-size: 2.25em;
    margin-bottom: 0.75em;
    text-align: center;
    color: #eceff1;
}

.card{
    position: relative;
}

.cards_inner{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
}

.card{
    --flow-space: 0.5em;
    --hsl: var(--hue), var (--saturation), var (--lightness);
    flex: 1 1 14rem;
    padding: 1.5em 2em;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    align-items: start;
    gap: 1.25em;
    color: #eceff1;
    background-color: #2b2b2b;
    border: 1px solid #eceff133;
    border-radius: 15px;
}

.card:nth-child(1){
    --hue: 165;
    --saturation: 82.26%;
    --lightness: 51.37%;
}

.card:nth-child(2){
    --hue:291.34;
    --saturation: 95.9%;
    --lightness:61.76%;
}